// Bootstrap and its default variables
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Roboto', sans-serif;
}

.page-header {
  margin-left: 1em;
}

/*.card {
  background: #fff;
  border-radius: 2px;
  margin: 1rem;
  position: relative;
  border: none;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  align-items: center;
  /* justify-content: center; */
  /*border-radius: 35px;
}*/

.card {
  background: #fff;
  position: relative;
  border: none;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  align-items: center;
  border-radius: 20px;
  padding: 1em;
  margin-bottom: 0.5em;;
}

.text-center {
  text-align: center;
}

.background-image-card {
  /* height: 35em; */
  // height: 40em;
  height: 25em;
  /* filter: grayscale(50%); */
}

.health-leaf {
  background-image: url('health-leaf.jpg')
}
.sick-leaf {
  background-image: url('sick-leaf.jpg') 
}
.dead-leaf {
  background-image: url('dead-leaf.jpg')
}

.sensor-info {
  background: white;
  width: 40em;
  height: 18em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 20px;
  position: absolute;
  padding: 2em;
  text-align: left;
  margin-top: 3em;
}

.main-counter {
  font-weight: 700;
  margin-right: .1em;
}

.sensor-info h1, 
.sensor-info h4 {
  display: inline;

}

.sensor-info h4 {
  color: grey;
}

.sensor-description {
  font-size: 4em;
  text-align: center;
  font-weight: bold;
}

html {
  min-width: 400px;
}

h2, h5{
  font-weight: 700!important;
  /*color: rgba(149, 151, 152, 1);*/
  color: #2d2b3c;
  margin-top: .5em!important;
}

.background-image {
  /*background: linear-gradient(rgba(255,255,255, 0.1), rgba(255,255,255,0.1)), url(../images/background-image.jpeg);*/
  /*background: rgba(149, 151, 152, 0.5);*/
}

.avatar {
  background: url("images/avatar.jpg");
  background-position: 100% 51%;
  background-size: 123%;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
  border: 5px solid white;
  position: relative;
}

.avatar-description {
  font-weight: 600;
  font-size: 1.8em;
  /*text-shadow: -1px 0 #ffffff, 0 1px white, 1px 0 white, 0 -1px white;*/
  color: #2d2b3c;
  margin-top: .5em;
  background: rgba(255, 255, 255, 0.5);
  padding: 0.5em;
}

.short-description {
  background: rgba(211, 211, 211, .4);;
  padding: 0.5em;
}

.p-pre {
  white-space: pre;
}

.contacts {
    list-style: none;
}
.contacts a {
  color: black
}

@media (max-width: 700px){
  .avatar {
      margin: 1em auto;
  }
}

@font-face {
  font-family: 'icons';
  src: url('fonts/icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 6px;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  text-decoration: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

.inverted [class^="icon-"]:before, .inverted [class*=" icon-"]:before {
  color: white;
}

.icon-linkedin:before { content: '\e800'; }

.icon-github:before { content: '\e801'; }

.icon-mail:before { content: '\e802'; }

.icon-phone:before { content: '\e803'; }

.icon-skype:before { content: '\e804'; }

.vertical-col-sm {
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-1 {
  margin: 1em;
}

.hello-world {
  font-weight: 600;
  font-size: 1.8em;
  color: #ffffff;
  margin-top: .5em;
  background: rgba(234, 63, 29, 0.5);
  padding: 0.5em;
  display: block;
  position: absolute;
  right: 0em;
  top: 0em;
}

.synthwave-i {
  height: 100vh;
  background: linear-gradient(45deg, #A254D0, #9519B1, #820FA2, #610C8E, #56108C, #400772);
}

/* // Your variable overrides */
.bg-header-synthwave {
  background-color: #9519B1;
}